<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>VacationFinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="promo">
      <div class="promo-mask">
        
        <nav class="navbar navbar-default navbar-static-top navbar-home" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img class="logo-svg" src="/images/plane.svg">
                <h3 class="logo-text">VacationFinder</h3>
              </a>
            </div>
          </div>
        </nav>

        <div class="promo-content">
          <div class="promo-headline">
            Do Something You'll Never Forget
          </div>
          <div class="promo-subhead">
            Find Vacation Spots in Cities You'll Love
          </div>
        </div>
      </div>
    </div>

    <div class="housing-form-container container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2 class="text-center">
            Start Here
          </h2>
          <p class="text-center housing-form-summary">
            Let's find a destination that best matches you. 
          </p>
          <form>
            <div class="form-group">
              <label for="">
                Price
              </label>
              <select name="" id="" class="form-control">
                 <option value="0-25">Below $500</option>
                 <option value="25-50">Above $500</option>
                 <option value="50-75">Above $1K</option>
                 <option value="75-100">Above $2K</option>
                 <option value="100+">Above $5K</option>
               </select>
            </div>
            <div class="form-group">
              <label for="">
                Climate
              </label>
              <select name="" id="" class="form-control">
                <option value="">Sunny</option>
                <option value="">Partly Cloudy</option>
                <option value="">Rainy</option>
               </select>
            </div>
            <div class="form-group">
              <label for="">Group Size</label>
               <input type="text" class="form-control" placeholder="Group Number" />
            </div>
            <div class="form-group">
              <label for="">Travel Distance</label>
              <select name="" id="" class="form-control">
                <option value="">Less Than 50 Miles</option>
                <option value="">50-199 Miles</option>
                <option value="">200-499 Miles</option>
                <option value="">500-999 Miles</option>
                <option value="">1000 or More Miles</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Vacation Type</label>
              <select name="" id="" class="form-control">
                <option value="">Beach</option>
                <option value="">Low-key</option>
                <option value="">Adventure</option>
                <option value="">Sight Seeing</option>
                <option value="">Kid Friendly</option>
                <option value="">Resort</option>
              </select>
            </div>
            <div class="form-group">
           	 <label for="">Hotel</label>
           	  <input type="text" class="form-control" placeholder="Name of Hotel" />
           	</div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Find Vacations</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        Built with love from the Credera team  
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>